/*--------------------------------------------------------------
  ##   Woocommerce
  --------------------------------------------------------------*/
  #product.section-padding {
    padding-bottom: 65px;
  }
  
  .product-top-menu {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .product-top-menu span {
    font-family: "Changa", sans-serif;
    margin-right: 5px;
  }
  
  .product-top-menu #product-show {
    padding: 0 22px 0 6px;
    margin-right: 20px;
  }
  
  .product-top-menu .product-select {
    border: 1px solid #ebebeb;
    background: transparent;
    font-family: "Changa", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #7a7979;
    outline: 0;
    padding: 0 10px;
  }
  
  
  
  .tim-product-btn-vw input {
    display: none;
  }
  
  .tim-product-btn-vw label {
    cursor: pointer;
  }
  
  /* Product */
  ul.products li.product {
    text-align: left;
  }
  
  ul.products li.product .product-thumb {
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px;
  }
  .store-products{
    margin-top: 2em;
  }
  .store-products .product{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .store-products .product .thumb-box{
    height:281px;
  }
  .store-products .product .product-name {
    font-size: 1.1rem;
    color: #494848;
  }
  .store-products .product .product-price{
    font-size: 1rem;
    font-weight: 600;
    color: #101010;
  }
  .fit-it.store-img{
    min-width: 100%;
    object-fit: cover;
  }
  .product-detail.bottom{
    margin-top: 21px;
  }
  
  
  ul.products li.product .product-thumb img {
    max-width: 100%;
    margin-bottom: 0;
  }
  
  ul.products li.product .product-thumb .new {
    position: absolute;
    top: 10px;
    right: -10px;
    background: #e43a90;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 17px;
  }
  
  ul.products li.product .product-thumb:before {
    position: absolute;
    content: '';
    background: rgba(228, 58, 144, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  ul.products li.product .product-thumb .add_to_cart_button {
    padding: 8px 25px;
    border: 1px solid #fff;
    font-family: "Changa", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    position: absolute;
    bottom: -100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  ul.products li.product .product-thumb .add_to_cart_button:hover {
    background: #434343;
    color: #fff;
    border-color: #434343;
  }
  
  ul.products li.product .product-thumb:hover .add_to_cart_button {
    bottom: 20px;
  }
  
  ul.products li.product .product-thumb:hover:before {
    opacity: 1;
  }
  
  ul.products li.product .woocommerce-loop-product__title {
    font-family: "Changa", sans-serif;
    color: #363636;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0;
  }
  
  ul.products li.product .woocommerce-loop-product__title a {
    font-family: "Changa", sans-serif;
    color: #363636;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0;
  }
  
  ul.products li.product .woocommerce-loop-product__title a:hover {
    color: #e43a90;
  }
  
  ul.products li.product .woocommerce-loop-product__title:hover {
    color: #e43a90;
  }
  
  ul.products li.product .price {
    display: block;
    float: right;
    margin: 0;
  }
  
  ul.products li.product .price .woocommerce-Price-amount {
    font-size: 24px;
    font-weight: 500;
    color: #e43a90;
    font-family: "Changa", sans-serif;
  }
  
  ul.products li.product-two {
    text-align: center;
  }
  
  ul.products li.product-two .woocommerce-loop-product__title {
    font-size: 22px;
  }
  
  ul.products li.product-two .star-rating {
    float: right;
  }
  
  ul.products li.product-two .product-thumb {
    position: relative;
  }
  
  ul.products li.product-two .product-thumb:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.3);
  }
  
  ul.products li.product-two .product-thumb .product-details {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 12.09px 0.91px rgba(105, 104, 104, 0.08);
    box-shadow: 0px 2px 12.09px 0.91px rgba(105, 104, 104, 0.08);
    border-radius: 5px;
    width: 160px;
    opacity: 0;
    visibility: visible;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  ul.products li.product-two .product-thumb .product-details a {
    width: 40px;
    display: inline-block;
    text-align: center;
  }
  
  ul.products li.product-two .product-thumb .product-details a i {
    color: #636363;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
  }
  
  ul.products li.product-two .product-thumb .product-details a:nth-child(2) {
    border-right: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
  }
  
  ul.products li.product-two .product-thumb .product-details a:hover i {
    color: #e43a90;
  }
  
  ul.products li.product-two .product-thumb .new {
    left: 0;
    right: auto;
    font-family: "Changa", sans-serif;
  }
  
  ul.products li.product-two .product-thumb .new.sale {
    right: 0;
    left: auto;
    background: #d2d40b;
  }
  
  ul.products li.product-two .product-thumb:hover .product-details {
    opacity: 1;
  }
  
  ul.products li.product-two .product-thumb:hover .share-link {
    opacity: 1;
    visibility: visible;
  }
  
  ul.products li.product-two .product-thumb:hover .share-link li {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  ul.products li.product-two .star-rating {
    font-size: 14px;
  }
  
  ul.products li.product-two .star-rating span:before {
    font-size: 14px;
    color: #e43a90;
  }
  
  ul.products li.product-two .price {
    float: none;
  }
  
  ul.products li.product-two .price ins {
    margin-left: 0;
    text-decoration: none;
  }
  
  ul.products li.product-two .price del .woocommerce-Price-amount {
    font-size: 18px;
    color: #898989;
    margin-left: 10px;
  }
  
  ul.products li.product-two .product-description {
    display: none;
  }
  
  ul.products li.product-two .share-link {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
    list-style: none;
    opacity: 0;
    visibility: hidden;
  }
  
  ul.products li.product-two .share-link li {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
    text-align: center;
    line-height: 35px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  ul.products li.product-two .share-link li:before {
    position: absolute;
    height: 30px;
    width: 30px;
    background: #fff;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
    left: 3px;
    -webkit-box-shadow: 0px 2px 12.09px 0.91px rgba(105, 104, 104, 0.23);
    box-shadow: 0px 2px 12.09px 0.91px rgba(105, 104, 104, 0.23);
    border-radius: 4px;
    -webkit-transition: all 265ms ease-in;
    -o-transition: all 265ms ease-in;
    transition: all 265ms ease-in;
  }
  
  ul.products li.product-two .share-link li a {
    display: block;
    position: relative;
    z-index: 1;
    line-height: 30px;
  }
  
  ul.products li.product-two .share-link li:nth-child(2) {
    -webkit-transition-delay: 0.01s;
    -o-transition-delay: 0.01s;
    transition-delay: 0.01s;
  }
  
  ul.products li.product-two .share-link li:nth-child(3) {
    -webkit-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    transition-delay: 0.05s;
  }
  
  ul.products li.product-two .share-link li:nth-child(3) {
    -webkit-transition-delay: 0.07s;
    -o-transition-delay: 0.07s;
    transition-delay: 0.07s;
  }
  
  ul.products li.product-two .share-link li:nth-child(4) {
    -webkit-transition-delay: 0.09s;
    -o-transition-delay: 0.09s;
    transition-delay: 0.09s;
  }
  
  ul.products li.product-two .share-link li:hover:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 50%;
  }
  
  ul.products li.product-two .share-link li.fa-col a {
    color: #4868ab;
  }
  
  ul.products li.product-two .share-link li.tw-col a {
    color: #1da2f2;
  }
  
  ul.products li.product-two .share-link li.ins-col a {
    color: #f23751;
  }
  
  ul.products li.product-two .share-link li.dri-col a {
    color: #ee1370;
  }
  
  ul.products li.product-two .ajax_add_to_cart {
    border-radius: 10px;
    padding: 10px 18px;
    position: relative;
    font-size: 16px;
  }
  
  ul.products li.product-two .ajax_add_to_cart:before {
    position: absolute;
    content: '';
    left: 20px;
    height: 20px;
    width: 2px;
    background: rgba(255, 255, 255, 0.5);
    top: 12px;
    left: 43px;
  }
  
  ul.products li.product-two .ajax_add_to_cart i {
    margin-right: 20px;
  }
  
  /* Product 3 Column */
  .site-main .columns-3 ul.products li.product {
    width: 33.33%;
    padding: 0 15px;
    margin: 0 0 40px;
  }
  
  .site-main .columns-3 ul.tim-product-view--list li.product-two {
    width: 98% !important;
    text-align: left;
    border: 1px solid #ebebeb;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .site-main .columns-3 ul.tim-product-view--list li.product-two .product-thumb {
    max-width: 31%;
    margin-bottom: 0;
  }
  
  .site-main .columns-3 ul.tim-product-view--list li.product-two .product-details-content {
    padding: 0 20px;
    width: 69%;
  }
  
  .site-main .columns-3 ul.tim-product-view--list li.product-two .product-details-content .woocommerce-loop-product__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .site-main .columns-3 ul.tim-product-view--list li.product-two .product-details-content .product-description {
    display: block;
  }
  
  .site-main .columns-3 ul.tim-product-view--list li.product-two .product-details-content .price {
    margin-bottom: 20px;
  }
  
  .site-main .columns-3 ul.tim-product-view--list li.product-two .product-details-content p {
    margin-bottom: 30px;
    font-size: 16px;
  }
  
  .site-main .columns-3 ul.tim-product-view--list li.product-two .product-details-content .add_to_cart_button {
    display: inline-block;
    padding: 15px 35px;
    border: 1px solid #e4e4e4;
    color: #363636;
    font-size: 18px;
    line-height: 18px;
    border-radius: 4px;
    font-family: "Changa", sans-serif;
    font-weight: 500;
  }
  
  .site-main .columns-3 ul.tim-product-view--list li.product-two .product-details-content .add_to_cart_button i {
    margin-right: 10px;
  }
  
  .site-main .columns-3 ul.tim-product-view--list li.product-two .product-details-content .add_to_cart_button:hover {
    background: #e43a90;
    border-color: #e43a90;
    color: #fff;
  }
  
  /* Product 4 Column */
  .site-main .columns-4 ul.products li.product {
    margin-right: 0;
    width: 25%;
    padding: 0 15px;
    margin-bottom: 50px;
  }
  
  .quickview-slider swiper-slide img {
    width: 100%;
  }
  
  .quickview-slider .slider-nav .slick-slide {
    padding: 0 3px;
  }
  
  .product-cart {
    display: flex;
  }
  
  .product-cart .quantity {
    position: relative;
    background: #FFF;
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.09);
    width: 90px;
    height: 50px;
    border: none;
    border-radius: 5px;
    float: left;
    padding: 11px 12px;
    margin-right: 10px;
  }
  
  .product-cart .quantity .minus,
  .product-cart .quantity .plus {
    cursor: pointer;
    color: #363636;
    font-size: 12px;
  }
  
  .product-cart .quantity .minus:focus,
  .product-cart .quantity .plus:focus {
    background: transparent;
    color: #363636;
  }
  
  .product-cart .quantity input {
    width: 51%;
    margin: 0 auto;
    border: none;
    padding: 0;
    text-align: center;
    font-size: 16px;
  }
  
  .tim-btn.go-cart {
    padding: 4px 15px;
    border: 2px solid #000;
    font-size: 16px;
  }
  
  .product-cart .tim-cart-btn .cart-icon {
    margin-right: 5px;
  }
  
  .product-cart .tim-cart-btn:hover {
    opacity: 0.9;
  }
  
  .product-details .close-menu {
    right: 15px;
    top: 0px;
    padding: 0;
    height: auto;
    width: auto;
    line-height: 1;
    cursor: pointer;
  }
  
  .product-details .product-title {
    font-size: 26px;
  }
  
  .product-details .product-sub-title {
    font-size: 20px;
  }
  
  .product-details .price {
    margin-bottom: 30px;
  }
  
  .product-details .price ins {
    margin-right: 10px;
    text-decoration: none;
  }
  
  .product-details .price ins,
  .product-details .price del {
    font-size: 20px;
    font-weight: 600;
  }
  
  .product-details .woocommerce-product-details__short-description {
    margin-bottom: 30px;
  }
  
  .product_meta .sku_wrapper {
    margin: 10px 0;
  }
  
  .product_meta .posted_in {
    margin: 10px 0;
  }
  
  .product_meta .tagcloud a {
    font-size: 14px;
    padding: 3px 15px;
    border-radius: 10px;
  }
  
  .product_meta .posted_in a {
    color: #333;
    font-size: 14px;
    margin: 3px;
  }
  
  .product_meta .posted_in a:hover {
    color: #e43a90;
  }
  
  .woocommerce-product-rating .star-rating {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    height: 19px;
  }
  
  .woocommerce-product-rating .star-rating:before {
    font-size: 14px;
  }
  
  .share-wrap {
    margin-top: 20px;
  }
  
  .share-wrap h3 {
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .product-share-link {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  
  .product-share-link li {
    display: inline-block;
    margin-right: 5px;
  }
  
  .product-share-link li a {
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  .product-share-link li a.facebook-bg {
    background: #305fb3;
  }
  
  .product-share-link li a.twitter-bg {
    background: #5eaade;
  }
  
  .product-share-link li a.google-plus-bg {
    background: #d7482a;
  }
  
  .product-share-link li a.pinterest-bg {
    background: #bd081c;
  }
  
  .product-share-link li a:hover {
    background: #e43a90;
  }
  
  /* Shop Page */
  .single-product {
    padding: 100px 0 60px;
  }
  
  .single-product-details{
    padding-left: 2.9em;
  }
  .detail-left .image-gallery .image-gallery-left-nav, .detail-left .image-gallery .image-gallery-right-nav {
    font-size: 2.5em;
  }
  .image-gallery-left-nav:hover::before, .image-gallery-right-nav:hover::before {
    color: #555 !important;
  }
  .single-product-details .product-title {
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  
  .single-product-details .price {
    margin-bottom: 30px;
  }
  
  .price del {
    opacity: .5;
    font-weight: 400;
  }
  
  .single-product-details .price ins {
    margin-right: 10px;
    text-decoration: none;
  }
  
  .single-product-details .price ins,
  .single-product-details .price del {
    font-size: 26px;
    font-weight: 600;
  }
  
  .single-product-details .star-rating span:before {
    color: #e43a90;
  }
  
  .single-product-details .review-link {
    color: #363636;
  }
  
  .single-product-details .woocommerce-product-details__short-description {
    margin-bottom: 30px;
    margin-top: 1.8em;
  }
  
  .quantity-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 119px;
  }
  
  .quantity-input__modifier--left {
    border-radius: 3px 0 0 3px;
  }
  
  .quantity-input__modifier--right {
    border-radius: 0 3px 3px 0;
  }
  
  .quantity-input__modifier:hover {
    background: #dadada;
    color: #555555;
  }
  
  .quantity-input__modifier {
    padding: .3rem;
    width: 3rem;
    font-size: 1.3rem;
    background: #e0dfe0;
    border: 0 solid #dbdbdb;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }
  
  .quantity-input__screen {
    width: 4rem;
    padding: .22rem;
    font-size: 1.2rem;
    border: 0;
    border-top: 1px solid #e0dfe0;
    border-bottom: 1px solid #e0dfe0;
    text-align: center;
  }
  
  
  
  /* Product Single */
  .product-tab-wrapper .product-tabs {
    margin: 50px 0 30px;
    list-style: none;
    text-align: center;
    border-top: 1px solid #ededed;
    text-align: center;
    display: inherit;
  }
  
  .product-tab-wrapper .product-tabs li {
    display: inline-block;
  }
  
  .product-tab-wrapper .product-tabs li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #444;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-top: 1px solid transparent;
    font-weight: 600;
  }
  
  .product-tab-wrapper .product-tabs li a:hover,
  .product-tab-wrapper .product-tabs li a.active {
    color: #e43a90;
    border-color: #e43a90;
  }
  
  .product-tab-wrapper .tab-content .tab-pane {
    padding: 0;
  }
  
  .comments-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .review-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .review-list .review-comment {
    margin-bottom: 20px;
  }
  
  .review-list .review-comment .user-avatar {
    height: 70px;
    width: 70px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .review-list .review-comment .user-avatar img {
    width: 100%;
    height: auto;
  }
  
  .review-list .review-comment .comment-content {
    margin-left: 90px;
  }
  
  .review-list .review-comment .comment-content .name {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }
  
  .review-list .review-comment .comment-content .star-rating span:before {
    color: #e43a90;
  }
  
  .review-list .review-comment .comment-content .comment-meta {
    margin-bottom: 10px;
  }
  
  .review-list .review-comment .comment-content .comment-meta .star-rating li {
    font-size: 12px;
    margin-right: 0;
  }
  
  .review-list .review-comment .comment-content .comment-meta .post-date {
    font-size: 12px;
    color: #a7a7a7;
  }
  
  .rating-title {
    font-size: 22px;
    font-weight: 600;
  }
  
  .review-form textarea,
  .review-form input {
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    width: 100%;
    padding: 10px;
  }
  
  .review-form textarea {
    height: 150px;
  }
  
  .review-form input {
    height: 50px;
    margin-top: 20px;
  }
  
  .review-form .gp-btn {
    max-width: 250px;
    margin: 30px 0 0 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: transparent;
    color: #343434;
    border-radius: 4px;
    padding: 12px 0px;
    font-weight: 500;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #c9c9c9;
  }
  
  .review-form .gp-btn:hover {
    background: #e43a90;
    color: #fff;
    border: 1px solid #e43a90;
  }
  
  .shop_attributes {
    width: 100%;
  }
  
  .shop_attributes tbody {
    border: 1px solid #dcdcdc;
  }
  
  .shop_attributes tbody tr {
    height: 40px;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .shop_attributes tbody tr th {
    width: 30%;
    border-right: 1px solid #dcdcdc;
    padding-left: 20px;
  }
  
  .shop_attributes tbody tr td {
    padding-left: 20px;
  }
  
  .shop_attributes tbody tr td p {
    margin-bottom: 0;
  }
  
  .related-product {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #dcdcdc;
  }
  
  .related-product .product-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #363636;
  }
  
  /* Rating Star Widgets Style */
  .rating {
    margin-bottom: 20px;
  }
  
  .rating li {
    cursor: default;
    display: inline-block;
    font-size: 20px;
    list-style-type: none;
  }
  
  .star,
  .rating:not(.vote-cast):hover .star:hover~.star,
  .rating.vote-cast .star.selected~.star {
    color: #a5a5a5;
  }
  
  .rating:hover .star,
  .rating.vote-cast .star {
    color: #e43a90;
  }
  
  /* Color Checkbox */
  .color-checkboxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .color-checkboxes h4 {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .color-checkboxes .col-Blue-label {
    background: #2196f3;
  }
  
  .color-checkboxes .col-Green-label {
    background: #8bc34a;
  }
  
  .color-checkboxes .col-Yellow-label {
    background: #fdd835;
  }
  
  .color-checkboxes .col-Orange-label {
    background: #ff9800;
  }
  
  .color-checkboxes .col-Red-label {
    background: #f44336;
  }
  
  .color-checkboxes .col-Black-label {
    background: #222222;
  }
  
  .color-checkbox {
    width: 20px;
    height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 7px;
    position: relative;
    border-radius: 16px;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: -webkit-transform 0.1s linear;
    -o-transition: transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
    cursor: pointer;
  }
  
  .color-checkbox.bordered {
    -webkit-box-shadow: 0 0 0 2px #f0f0f0 inset;
    box-shadow: 0 0 0 2px #f0f0f0 inset;
  }
  
  .color-checkbox.bordered:after {
    border-color: black;
  }
  
  .color-checkbox:after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 7px;
    border: 2px solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    -webkit-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
    text-align: center;
  }
  
  .color-checkbox:hover,
  .color-checkbox__input:focus+.color-checkbox {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .color-checkbox__input:checked+.color-checkbox:after {
    opacity: 1;
  }
  
  .color-checkbox__input {
    visibility: hidden;
    width: 0;
    pointer-events: none;
    position: absolute;
  }
  
  .filter-left-type .form-check-label {
    font-size: 14px;
  }
  
  .filter-left-type .form-check-input {
    margin-top: .4rem;
  }
  
  .filter-left-type {
    margin-top: 1.3em;
    display: block;
  }
  
  .filter-left-type .title {
    font-size: 17px;
    font-weight: 500;
    color: #363636;
    margin-bottom: 1em;
  }
  .price-group{
    font-size:14px;
  }
.price-group .input-group-text{
  font-size: 14px;
  font-weight: 500;
  padding: .175rem .75rem;
  background-color: #757575;
  border: 1px solid #757575;
  color: #FFF;
}
.price-range {
  max-width: 254px;
}
.price-range .field-control {
  padding: .475em;
  height: 35px;
}
  
  
  
  /* Product Size */
  .options__item {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .options__item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 0;
  }
  
  .options__item span {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid #363636;
    color: #363636;
    border-radius: 3px;
    text-align: center;
    left: 30px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: 700;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .options__item span:hover,
  .options__item span.active {
    background: #e43a90;
    color: #fff;
    border-color: #e43a90;
  }