s.product {
    width: 100%;
    margin-bottom: 55px;
  }
  .product-thumb {
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  .product-thumb img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }
  .product-thumb .product-thumb-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.55);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .product-thumb .product-thumb-hover .btn-cart {
    color: #111111;
    text-transform: none;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.1rem;
  }
  .btn-cart a{
      padding: 11px 15px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      background: #e01e36;
      border-radius: 4px;
      color: #fff;
      border: 1px solid #cc021b;
  
  }
  .product-thumb:hover .product-thumb-hover {
    opacity: 1;
  }
  .product-thumb:hover .product-thumb-hover .btn-cart {
    -webkit-transform: translateY(0);
    transform: translateY(0);
   
  }
  .product-detail {
    margin-top: 30px;
  }
  .product-detail .product-name {
    font-weight: 600;
    color: #111111;
    font-size: 1.3rem;
    margin: 0;
  }
  .product-detail .product-price {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
  }