.header_player.style-fullwidth {
    position: relative;
    height: 80px;
    background: transparent;
    background: #111111;
    height: 100px;
    padding: 22px 0 0;
    height: 158px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .player-container-fullwidth {
  -webkit-box-shadow: 0px 17px 15.5px 5.5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 17px 15.5px 5.5px rgba(0, 0, 0, 0.32);
  background: #181818;
  margin: 0 6.5%;
  width: 100%;
}
.react-h5-audio-player{
  width: 100%;
}